/*h1 {
	color: red;
}*/

#categories, #subcategories, #board {
	display: flex;
	justify-content: center;
	border: 1px solid red;
}

#board {
	margin-top: 50px;
}

.category, .subcategory {
	margin: 0 10px;
}

.letter-box {
	color: purple;
	border: 1px solid transparent;
	border-bottom: 2px solid black;
}

#guess-container {
	text-align: center;
	border: 1px solid blue;
}

#guessed-container {
	border: 2px solid black;
	width: 30%;
}