/*h1 {
	color: red;
}*/

#categories, #subcategories, #board {
	display: flex;
	justify-content: center;
	border: 1px solid red;
}

#board {
	margin-top: 50px;
}

.category, .subcategory {
	margin: 0 10px;
}