body {
	background-color: beige;
	font-family: monospace;
}

/*div {
	border: 2px solid green;
}*/

#categories, #subcategories, #board {
	display: flex;
	justify-content: center;
	border: 1px solid red;
}

#board {
	margin-top: 50px;
}

#space {
	color: transparent;
}

.category, .subcategory {
	margin: 0 10px;
}

.letter-box {
	color: transparent;
	font-size: 2em;
	margin: 0 10px;
	border: 1px solid transparent;
	border-bottom: 2px solid black;
}

#guess-container {
	text-align: center;
	border: 1px solid blue;
}

#guessed-container {
	display: flex;
	border: 2px solid black;
	width: 30%;
}

#login-popup {
	position: absolute;
	background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	text-align: center;
	/*border: 1px solid purple;*/
	border-radius: 10px;
	z-index: 2;
}

#close-button {
	display: inline-block;
	margin-left: 95%;
	color: red;

	/*border: 1px solid purple;*/
}

#login-inputs-container {
	border: 1px solid blue;
	margin: 0 20px;
	margin-bottom: 10px;
}


.hidden {
	/*border: 2px solid pink;*/
	display: none;
}

#game-over-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	padding: 20px;
/*	bottom: 50%;
	right: 50%;*/
	border: 2px solid red;
}








