body {
	/*background-color: beige;*/
	background-image: url("../images/OldWestPaper.jpg");
	background-size: cover;
	font-family: 'Rye';

	/*font-family: monospace;*/
	text-align: center;
}

div {
	/*border: 2px solid green;*/
}

#categories, #subcategories {
	display: flex;
	justify-content: center;
	/*border: 1px solid red;*/
}

#categories {
	font-size: 1.5em;
}

#subcategories {
	font-size: 1.2em;
	height: 25px;
}

#hint-container {
	margin-top: 10px;
}

#hint-header {
	font-size: 1.2em;
	cursor: pointer;
}

#hint-box {
	height: 20px;
}

#board {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.word-box {
	display: flex;
}

#guess-input {
	text-align: center;
}

#space {
	color: transparent;
}

.category, .subcategory  {
	margin: 0 10px;
	cursor: pointer;
}

.letter-box {
	color: transparent;
	font-size: 2em;
	
	width: 25px;
	margin: 0 5px;
	border: 1px solid transparent;
	border-bottom: 2px solid black;
}

#guess-container {
	/*text-align: center;*/
	/*border: 1px solid blue;*/
}

#login {
	cursor: pointer;
}

#login-popup {
	position: absolute;
	background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	text-align: center;
	/*border: 1px solid purple;*/
	border-radius: 10px;
	z-index: 2;
}

.close-button {
	display: inline-block;
	margin-left: 95%;
	color: red;

	/*border: 1px solid purple;*/
}

#login-inputs-container {
	border: 1px solid blue;
	margin: 0 20px;
	margin-bottom: 10px;
}


.hidden {
	/*border: 2px solid pink;*/
	display: none;
}

#game-over-popup {
  z-index: 2;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	padding: 20px;

	background-color: snow;
	border: 2px solid black;
	border-radius: 10px;
}

#play-again-button-container {
	margin-top: 20px;	
	border: 1px solid purple;
	border-radius: 10px;
	background-color: purple;
	cursor: pointer;
}

#play-again-icon {
	color: white;
	font-size: 1.5em;
	padding: 20px;
}







