#gallows-and-guesses {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;

	border: 2px solid green;
}

#gallows-wrapper {
	/*margin-top: 20px;*/
	padding: 0 30px;
	display: inline-block;

	border: 2px solid orange;
}

#gallows {
	display: grid;
	align-items: end;
    grid-template-columns: repeat(6, auto) 55px 55px 0px repeat(6, 65px) repeat(5, auto);
    grid-template-rows: auto repeat(6, 15px);
    /*margin: 0;*/
    border: 1px solid red;
}

#gallows-man {
	border-top: 5px solid black;
	border-left:5px solid black ;
	/*border-right: ;*/
	padding-left: 40px;
	grid-column: 7/8;
	width: 50px;
	/*grid-row: 4/16;*/
}

#hangman-picture {
	margin-bottom: -3px;
	width: 65px;
	transition: 1s ease;
}

#gallow-floor {
	height: 100%;
	grid-column: 7/11;
	grid-row: 2/7;
	border: 5px solid black;
	border-bottom: 0; 
	/*background-color: black;*/
}

.gallow-step {
	width: 100%;
	height: 100%;
	border: 3px solid black;
	border-bottom: 0; 
	background-color: black;
}

#step-4 {
	grid-column: 11;
	grid-row: 3/7;
}

#step-3 {
	grid-column: 12;
	grid-row: 4/7;
}

#step-2 {
	grid-column: 13;
	grid-row: 5/7;
}

#step-1 {
	grid-column: 14;
	grid-row: 6/7;
}

.step0 {
	grid-column: 15;
	grid-row: 6;	
}

#guessed-container {
	/*display: flex;*/
	text-align: center;
	font-size: 2em;
	border: 2px solid black;
	width: 30%;
}

#guesses-box {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	border: 2px solid gray;

}

.guessed-letter {
	font-size: 1.5em;
	margin: 0 5px;
}




